<h1>Cars#index</h1>
<p>Find me in app/views/cars/index.html.erb</p>

<% @cars.each do |car| %>
  <ul>
    <li><%= car.make %></li>
    <li><%= car.model %></li>
    <li><%= car.year %></li>
  </ul>
<% end %>

<%= link_to 'New Car', new_dealership_car_path(@dealership) %>
